@model IEnumerable<MIssion06_Erickson.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Copied To Plex</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Year</td>
                <td>@item.Category</td>
                <td>@item.Director</td>
                <td>@item.Rating</td>
                <td>@item.Edited</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MovieId" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.MovieId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.MovieId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

